/* 전체 영역의 css 를 표기할 때 *를 사용한다. */

* {
  margin: 0px;
}

/* 모니터의 전체 영역을 잡습니다. */

html, body {
  width: 100%;
  height: 100%;
}

/* covervid 제이쿼리 라이브러리를 사용하는 법입니다. */

.covervid-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 990;
}

.covervid-wrapper.hide {
  display: none;
}

/* 언제든 위로 올라갈 수 있는 아이콘 */

.Top_menu {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

.Copyright_menu {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 5000;
}

/* 배경화면으로 넣은 동영상을 어둡게 표현하기 위한 영역입니다. */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
}

/* 메인 부분은 relative로 포지션을 잡아야 합니다. */

.main {
  position: relative;
  overflow: auto;
}

/* 메인 내용 부분의 css 입니다. */

.main_text {
  font-weight: 700;
  font-size: 90px;
  margin-top: 8vh;
}

.main span {
  padding-top: 1vh;
  display: block;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  opacity: 0.9;
}

/* 테이블 정중앙 배치 */

.table_location {
  margin: 0 auto;
}

.icon {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.Backend {
  position: absolute;
  top: 0;
  left: 0;
}

.Frontend {
  position: absolute;
  top: 60px;
  left: 60px;
}

.jquery {
  display: none;
}

.jquery span {
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 18.4px;
}

/* 두번째 영역 css */



#weapon {
  position : relative;
  width : 100%;
  height : 100%;

}
#accessory {
  position: relative;
  width : 100%;
  height : 100%;
}
#bosses {
  position: relative;
  width : 100%;
  height : 100%;
}
#enemy {
  position: relative;
  width : 100%;
  height : 100%;
}
#biome {
  position: relative;
  width : 100%;
  height : 100%;
}



.copyright {
  position: relative;
  width: 100%;
  height: 100%;
}
.weapon_text {
  position: relative;
  text-align : center;
  width : 100%;
  padding-top: 8vh;
}
/* 버그를 고치기 위한 클론 */
.div_text_BUG {
  text-align : center;
  width : 100%;
  padding-top: 8vh;
}
/* ///////////////////// */

.submenu_text {

  font-weight: 1000;
  font-size: 12vh;
  font-family : 'Star',cursive;
  color : white;

}
.weapon_Content {
  position:absolute;
  width : 100%;
  text-align: center;
  top : 0;
  bottom : 0;
  margin : auto;
  height :  29vw;
}

.biome_Content {
  position:absolute;
  width : 100%;
  top : 0;
  bottom : 0;
  margin : auto;
  text-align : center;
  height : 32vw;

}
.accessory_Content {
  position:absolute;
  width : 100%;
  top : 0;
  bottom : 0;
  margin : auto;
  text-align : center;
  height : 32vw;

}
.biome_Content img {
  width : 45vw;
  height : 15vw;
  display: inline-block;
  border : 4px solid #fff;
}

.picture {
  width : 14vw;
  height : 14vw;
  display: inline-block;
  background-color : #fff;
  border : 4px solid #fff;
}


.weapon_class {
  display: inline-block;
  width : 15%;
  height : 0;
  overflow : hidden;
  padding-bottom : 28vw;
  margin : 0 1vw 0 1vw;
  border : 4px solid #fff;
  z-index : 1000;
  cursor: pointer;
}
.weapon_class img {
  position: relative;
  max-width : 100%;
  height : 28vw;
}
.weapon_class p {
  font-size : 1vw;
}
.weapon_id {

  position: relative;
  transition-duration: 1s;
  transform : translateY(20px);
}
.weapon_id.open {
  transition-duration: 0.5s;
  transform : translateY(-20px);
}

.margin_Box {
  position: relative;
  width : 100%;
  height : -webkit-calc(100% - 20vh);
}


.weapon_frame_warrior_select {
  position: absolute;
  width : 100%;
  top : 0;
  bottom : 0;
  display : table;
  margin : auto;
  text-align : center;
  height : 32vw;

}
.warrior_weapon{
  position: relative;
  border : 4px solid #fff;
  width : 70vw;
  text-align : center;
  margin : 0 auto;
  height : 4vw;
  line-height : calc(4vw + 3px);
  margin-bottom : 4vw;
  margin-top : 4vw;
  vertical-align: middle;
  cursor : pointer;
}
table {
  position :absolute;
  width : 90vw;
  top : 3vw;
  bottom : 0;
  margin : auto;
  height : 80%;

}
table tbody tr[class="padding"] td {
  padding : 0px 0px 4vw 0px;
  }
table tbody tr td {
  cursor : pointer;
}
